section {
    width: 100vw;
    min-height: 100vh;
}

.card {
    width: 1300px;
    padding-top: 100px;
    margin: 0 auto;
}

.card__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 64px;
    letter-spacing: 3px;
}

.button__title {
    background-color: #118DA8;
    padding: 0 20px;
    height: 51px;
    border-radius: 6px;
    font-size: 17px;
}

.card__wrapper {
    padding: 40px;
    border-radius: 32px;
    background-color: #000;
    display: flex;
}

.img {
    width: 389px;
    height: 465px;
    margin-right: 53px;
}

.card__body {
    max-width: 757px;
}

.body__button {
    font-size: 18px;
    padding: 0 16px;
    line-height: 27px;
    background-color: #191919;
    border-radius: 6px;
    margin-bottom: 48px;
}

h2 {
    color: #118DA8;
    font-size: 17px;
    margin-bottom: 18px;
}

h3 {
    font-size: 64px;
    line-height: 70px;
    letter-spacing: 3px;
    margin-bottom: 28px;
}

.card__description {
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 34px;
    color: rgba(255, 255, 255, 0.7);
}

.bottom__button {
    background-color: #118DA8;
    padding: 0 20px;
    height: 51px;
    border-radius: 6px;
    font-size: 17px;
}