@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

html {
    box-sizing: border-box;
    color: #fff;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    box-sizing: inherit;
    border: 0;
    color: inherit;
}

body {
    background-color: #191919;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
